#
# Copyright 2024 Tabs Data Inc.
#
source.sh

__pycache__/
__pypackages__/
.cache
.cache/
.coverage
.coverage.*
.dmypy.json
.dot
.DS_Store
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tabsdata/
.temp/
.td/
.tox/
.venv/
.vs/
.vscode/
!.vscode/extensions.json
.webassets-cache
*_context
*.cover
*.dll
*.dylib
*.egg
*.egg-info/
*.ipynb
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
!**/testing_resources/**/*.log
MANIFEST
!assets/manifest
!connectors/python/**/assets/manifest/
connectors/python/**/assets/manifest/BANNER
connectors/python/**/assets/manifest/LICENSE
connectors/python/**/assets/manifest/SOURCETRACK.yaml
!connectors.ee/python/**/assets/manifest/
connectors.ee/python/**/assets/manifest/BANNER
connectors.ee/python/**/assets/manifest/LICENSE
connectors.ee/python/**/assets/manifest/SOURCETRACK.yaml
!variant/assets/manifest
*.manifest
!.manifest
*.mo
*.njsproj
*.ntvs*
*.pdb
*.pot
*.py,cover
*.py[cod]
*.pyd
*.sage.py
*.sln
*.so
*.suo
*.spec
*.sw?
**/*.rs.bk
*$py.class
build/
**/build/
!.github/**/build/
celerybeat-schedule
celerybeat.pid
changelog.config.js
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dist-ssr
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib64/
licenses.json
local_dev/
local_settings.py
logs/
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
Pipfile.lock
poetry.lock
profile_default/
sdist/
share/python-wheels/
site
SOURCETRACK.yaml
/src/e2e/test-results/
/src/e2e/playwright-report/
/src/e2e/blob-report/
/src/e2e/playwright/.cache/
src/tests/coverage/
storybook-static/
tabsdata.libs
tests/bundle*
target/
Thumbs.db
variant/assets/manifest/SOURCETRACK.yaml
variant/assets/manifest/THIRD-PARTY
var/
venv.bak/
venv/
wheels/
client/td-sdk/tabsdata/assets
